body {
  background-color: lightgray;
}

.navbar {
  color: gray;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.navlink {
  color: gray;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 10px;
}

.navlink:hover {
  /*background-color: black;*/
  color: black;
}

.active {
  /*background-color: black;*/
  color: black;
}
